.block_up1_course_logistics .student-label-composante {
	font-weight: bold;
}
.block_up1_course_logistics .student-label-teachers {
	font-weight: bold;
}
.block_up1_course_logistics .student-label-courseid {
	font-weight: bold;
}
