.block_up1_course_logistics .student-label-composante {
	font-weight: bold;
}
.block_up1_course_logistics .student-label-teachers {
	font-weight: bold;
}
.block_up1_course_logistics .student-label-courseid {
	font-weight: bold;
}
.block_up1_course_logistics ul.teacher-manage-enrol-list {
	list-style-type: none;
}
.block_up1_course_logistics div.teacher-label-manage {
	cursor: pointer;
}
.block_up1_course_logistics ul.student-list-teachers {
	list-style-type: none;
}
.block_up1_course_logistics ul.teacher-list-teachers {
	list-style-type: none;
}
.block_up1_course_logistics div.teacher-space-bloc {
	margin-bottom: 8px;
}
.block_up1_course_logistics div.teacher-enrol-bloc {
	margin-bottom: 8px;
}
.block_up1_course_logistics div.teacher-label-assistance {
	font-weight: bold;
}
